<h1 align="center"> Homework 5 Programming Task</h1>
<h3 align="center"> IST 5520: Data Science and Machine Learning with Python, 2022 Fall </h3>
<h3 align="center"> Student: Ronald Adomako </h3>

**Instruction:**

Complete the following tasks (2 points for each task, 14 points in total). You can add additional lines if necessary.

# Task: Dataset Manipulation (14 points)

(1) Read in dataset

The file 'FleetData.csv' contains a dataset of airlines around the world and the airplanes that each owns and operates.

Dataset includes the following information:

- Parent Airline: i.e. International Airlines Group (IAG)
- Airline: i.e. Iberia, Aer Lingus, British Airways...etc. which are owned by IAG
- Aircraft Type: Manufacturer & Model
- Current: Quantity of airplanes in Operation
- Future: Quantity of airplanes on order, from planespotter.net
- Order: Quantity airplanes on order, from Wikipedia
- Unit Cost: Average unit cost (\$M) of Aircraft Type, as found by Wikipedia and various google searches
- Total Cost: Current quantity * Unit Cost (\$M)
- Average Age: Average age of "Current" airplanes by "Aircraft Type"

After import data, show its head.

In [1]:
import pandas as pd

In [2]:
url = "https://umsystem.instructure.com/courses/118713/files/13744476?wrap=1"

In [ ]:
df = pd.read_csv()

(2) Remove special characters [spaces,'(', and ')'] from column names

For example, column 'Parent Airline' will be renamed as 'ParentAirline', and column 'Total Cost (Current)' will be renamed as 'TotalCostCurrent'.

Hint: Use regular expressions. You can import re first, then use re.sub() method to replace strings in the columns.

Show the head again to verify the change of column names.

(3) Remove non-digital symbols such as "$" and "," from all values in columns "UnitCost" and "TotalCostCurrent". Convert these two columns' datatype as float.

Show the dataset information to verify the change of the datatype of these two columns.

(4) Calculate the number of unique Airline companies in the dataset.

(5) Calculate the number of unique Parent Airline companies.

(6) Calculate the number of airplanes in operation for each parent airline. 

First, create a new dataset that only contains the 'ParentAirline' and 'Current' columns. 

Then drop all observations that have NAs in the 'ParentAirline' and 'Current' columns.

Then group the new dataset by 'ParentAirline' and calculate the sum of 'Current' value for each parent airline company. Sort the summarized dataset by the number of airplanes in operation in descending order. 

Hint: Check how many rows are in the grouped dataset, if the number of rows does not match the result in step 4, your grouped dataset is not correct.

(7) Visualize the top 10 parent airlines with its number of airplanes in operation.

Select the top 10 parent airlines that have the most number of airplanes in operation. Visualize their number of airplanes in operation in a bar chart.

**Hint**: 
- Before you call the plot() method, select the 'Current' column, such that you can plot a series object rather than a DataFrame with multiple columns.
- You can set the pamater kind = 'bar' in the plot() method to draw a bar chart.